.event-card {
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effects */

  }
  
  .event-card-name {
    color: #343a40;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-card-status {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .event-card-id {
    color: #6c757d;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .event-link {
    display: inline-block;
    margin-bottom: 20px; /* Adjust spacing between event cards */
  }

  .event-link:hover .event-card {
    transform: scale(1.05); /* Increase scale on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
  }

  /* .event-card {
    width: 250px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  } */