.hostdashboard-container-bg {
  background-color: #b8d4c4;
  width: 100%;
  min-height: calc(100vh - 66px);
  position: absolute;
  top: 66px;
  left: 0;
}

.hostdashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
}

.hostdashboard-card {
  width: 95%;
  max-width: 95%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.hostdashboard-card-body {
  padding: 20px;
}

.hostdashboard-image-container {
  position: relative;
  overflow: hidden;
  height :350px;
  padding: 35px;
  border-radius: 20px;

}

.hostdashboard-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
  opacity: 0.87;
}

.hostdashboard-image:hover {
  transform: scale(1.05); /* Increase scale on hover */
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
}

.image-text {
  transition: opacity 0.3s ease;
}

.hostdashboard-image-container:hover .image-text {
  opacity: 0.7; /* Reduce opacity on hover */
}

.hostdashboard-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hostdashboard-subtitle {
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 20px;
}

.hostdashboard-events-title {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hostdashboard-subtitle a {
  text-decoration: none;
}

.hostdashboard-subtitle a:hover {
  text-decoration: underline;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}



.hostdashboard-divider {
  width: 50%;
  margin: 0 auto;
  border-top: 2px solid #9ecfb3;
  margin-bottom: 20px;
}
