.container {
    background-color: #b3d1c0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: #343a40;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .card-container {
    width: 40%;
    display: flex;
    justify-content: space-around; /* Distribute space between cards */
    align-items: flex-start; /* Align items at the top */
    margin-top: 20px;
  }
  
  .card {
    width: 200px; /* Adjust card width */
    height: 250px; /* Adjust card height */
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card img {
    max-width: 100%;
    max-height: 70%; /* Adjust image height */
    border-radius: 10px 10px 0 0; /* Rounded corners for top */
  }
  
  .card-text {
    padding: 10px;
    flex-grow: 1; /* Allow text to grow vertically */
  }
  
  .host-card {
    background-color: #ffffff;
  }
  
  .user-card {
    background-color: #ffffff;
  }
  
  .admin-card {
    background-color: #ffffff;
  }
  