.main-div{
    height: 100vh;
    width: 100vw;
    background-color: #b3d1c0; 
    font-family: "Comic Sans MS", sans-serif;
    color: #343a40;
    text-align: center;
}

.custom-navbar {
    background-color: #343a40;
    font-family: "Comic Sans MS", sans-serif;
  }

  