.signup-container {
  display: flex;
  height: 100vh;
  margin-top: -30px;
  background-size: cover;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.signup h1 {
  text-align: center;
  font-size: large;
  font-weight: 700;
  margin-bottom: 10px;
}

.signup form {
  display:block;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin-right: 50px;
}

.signup label {
  font-weight: bold;
  margin-top: 10px;
}

.signup input,
.signup button,
.select-container {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #4a8f63;
  border-radius: 5px;
}

.signup button {
  cursor: pointer;
  background: #89c4a3;
  border: none;
}

.photo-container img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: -10px;
}

.row {
  text-align: left;
}
